@import 'style/includes';
.form-bottom{

    position: fixed;
    bottom: 0;
    right: 0;
    left:  50px;
    height: 48px;
    padding: 0.48rem 2rem;
    border-top: 1px solid #e9ecef;
    background-color: #fff;
   
}

.flw-comment{
    border-left: 1px solid $gray-200;
    min-height: 80vh;
    min-width: 550px;
    max-width: 550px;
    
}
.edit-left-inq{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}


.ant-list-bordered .ant-empty-normal{
margin: 0px;
}

.ant-timeline-item{
    padding-bottom: 20px;
}