@import 'style/includes';

.reg-layout {
    @extend %layout__content;
    $layout-side-width :230px;
    .reg-side {
        @extend %layout__side;
        flex: 0 0 $layout-side-width;
        max-width: $layout-side-width;
        min-width: $layout-side-width;
        padding: 1rem 1rem;
        background-color: $gray-100;
    }

}

.card-height{
    height: 80px;
}

.cert-box{
    background-color: $gray-200;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
}


.price-lb{
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    line-height: 2.5rem;
    
}