@import "style/includes";

img {
  border: none;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../Fonts/Segoe UI Bold.woff") format("woff");
}


.home-bg {
  position: absolute;
  background: url("./welcome.JPG") no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.welcome-title {
  font-family: "Segoe UI Bold";
  animation: 1s ease-out 0s 1 slideInFromBottom;
  font-size: 54px;
  letter-spacing: -1px;
}

.welcome-bg {
  background: rgba(235, 235, 235, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 92%;
  height: 92%;
}

.welcome-title span {
  display: block;
  text-align: center;
  margin: -15px;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.welcome-logo {
  animation: 1s ease-out 0s 1 slideInFromTop;
  width: 300px;
  display: block;
  margin: 50px auto;
}

.welcome-dots {
  display: block;
  margin: 40px auto;
  height: 50px;
}
