
//Change text color depending on background color
@function set-color($color) {
    @if (lightness($color) > 55) {
      @return darken($color, 80%);
    }
    @else {
      @return lighten($color, 80%);
    }
}