//Converting an inline SVG to a background image

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
  
    @if ($index) {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
  
    @return $string;
  }

  @function svg-to-data-uri($svg, $fill: null) {
    $svg: if($fill, str-replace($svg, "<svg", "<svg fill='#{$fill}'"), $svg);
    $svg: str-replace($svg, "<svg", "<svg xmlns='http://www.w3.org/2000/svg' ");
    $svg: str-replace($svg, "<", "%3C");
    $svg: str-replace($svg, ">", "%3E");
    $svg: str-replace($svg, "\"", "'");
    $svg: str-replace($svg, "#", "%23");
    $svg: str-replace($svg, "&", "%26");
  
    @return url("data:image/svg+xml,#{$svg}");
  }