
@mixin bg-variant($parent, $color, $ignore-warning: false) {
    #{$parent} {
      background-color: $color !important;
    }
    a#{$parent},
    button#{$parent} {
      @include hover-focus() {
        background-color: darken($color, 10%) !important;
      }
    }
    @include deprecate("The `bg-variant` mixin", "v4.4.0", "v5", $ignore-warning);
  }
  
  

@each $color, $value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value, true);
  }
  
   
  .bg-white {
    background-color: $white !important;
  }
  
  .bg-transparent {
    background-color: transparent !important;
  }