@import "includes";
@import "utilities";
@import "page-header";
@import "forms";
@import "svg-icons";
@import "typography";
@import "drawer";
@import "table";
@import "tag";
@import "avatar";
@import "widget";
@import "message";


* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $gray-300 $white;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-300;
  }
}
.page-header {
  background-color: $white;
  padding: 0 1rem;
}
.w-100{
  width: 100% !important;
}

.status-dropdown-link{
  border-radius: 50px;
  height: 32px;
  padding: 0.3px 1rem;
  line-height: 2;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 150px;
}
