// -------- Colors -----------
$label-color: #8A8D91;

// Color system
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary-color,
    "info":       $info-color,
    "success":    $success-color,
    "error":      $error-color,
    "warning":    $warning-color
  ),
  $theme-colors
);

// Spacing
// ---
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
) !default;

// Typography
$enable-deprecation-messages: true !default;
$emphasized-link-hover-darken-percentage: 15% !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$text-muted: $label-color !default;

// Utilities
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

//Button
//Icon buttons
$icon-btn-color: $primary-color;
$icon-btn-hover-color: lighten( $primary-color, 10% );
$toolbar-icon-color:$primary-color; //icon buttons tool-bar


//Icons
$table-icon-size:1.2rem;


$statuses-colors: (
  pending: #e4e15a,
  registered: #20ad7e,
  not_answered: #ac143a,
  non_registered: #d87110,
  
);
$statuses-text-color:$white;




