.avatar-bordered{
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $gray-200;
}

.avatar-overlap {
    display: flex;

    .ant-avatar {
        border: 2px solid $white;
        margin-left: -10px;
        &:first-child {
            margin-left: 0px;
        }
    }
}

.avatar-status-badge{
    .ant-badge-status{
        .ant-badge-dot{
            transform: translate(8%, 8%);  
        }
    }
}