//@import '~antd/lib/style/color/colorPalette';

// colors
$blue: #1890ff;
$purple: #722ed1;
$cyan: #13c2c2;
$green: #52c41a;
$magenta: #eb2f96;
$pink: #eb2f96;
$red: #f5222d;
$orange: #fa8c16;
$yellow: #fadb14;
$volcano: #fa541c;
$geekblue: #2f54eb;
$lime: #a0d911;
$gold: #faad14;

// color palettes
$blue-1: lighten( $blue, 40% );
$blue-2: lighten( $blue, 35% );
$blue-3: lighten( $blue, 25% );
$blue-4: lighten( $blue, 15% );
$blue-5: lighten( $blue, 5% );
$blue-6: darken( $blue, 0% );
$blue-7: darken( $blue, 10% );
$blue-8: darken( $blue, 20% );
$blue-9: darken( $blue, 30% );
$blue-10: darken( $blue, 40% );

$purple-1: lighten( $purple, 40% );
$purple-2: lighten( $purple, 35% );
$purple-3: lighten( $purple, 25% );
$purple-4: lighten( $purple, 15% );
$purple-5: lighten( $purple, 5% );
$purple-6: darken( $purple, 0% );
$purple-7: darken( $purple, 10% );
$purple-8: darken( $purple, 20% );
$purple-9: darken( $purple, 30% );
$purple-10: darken( $purple, 40% );

$cyan-1: lighten( $cyan, 40% );
$cyan-2: lighten( $cyan, 35% );
$cyan-3: lighten( $cyan, 25% );
$cyan-4: lighten( $cyan, 15% );
$cyan-5: lighten( $cyan, 5% );
$cyan-6: darken( $cyan, 0% );
$cyan-7: darken( $cyan, 10% );
$cyan-8: darken( $cyan, 20% );
$cyan-9: darken( $cyan, 30% );
$cyan-10: darken( $cyan, 40% );

$green-1: lighten( $green, 40% );
$green-2: lighten( $green, 35% );
$green-3: lighten( $green, 25% );
$green-4: lighten( $green, 15% );
$green-5: lighten( $green, 5% );
$green-6: darken( $green, 0% );
$green-7: darken( $green, 10% );
$green-8: darken( $green, 20% );
$green-9: darken( $green, 30% );
$green-10: darken( $green, 40% );

$magenta-1: lighten( $magenta, 40% );
$magenta-2: lighten( $magenta, 35% );
$magenta-3: lighten( $magenta, 25% );
$magenta-4: lighten( $magenta, 15% );
$magenta-5: lighten( $magenta, 5% );
$magenta-6: darken( $magenta, 0% );
$magenta-7: darken( $magenta, 10% );
$magenta-8: darken( $magenta, 20% );
$magenta-9: darken( $magenta, 30% );
$magenta-10: darken( $magenta, 40% );

$pink-1: lighten( $pink, 40% );
$pink-2: lighten( $pink, 35% );
$pink-3: lighten( $pink, 25% );
$pink-4: lighten( $pink, 15% );
$pink-5: lighten( $pink, 5% );
$pink-6: darken( $pink, 0% );
$pink-7: darken( $pink, 10% );
$pink-8: darken( $pink, 20% );
$pink-9: darken( $pink, 30% );
$pink-10: darken( $pink, 40% );

$red-1: lighten( $red, 40% );
$red-2: lighten( $red, 35% );
$red-3: lighten( $red, 25% );
$red-4: lighten( $red, 15% );
$red-5: lighten( $red, 5% );
$red-6: darken( $red, 0% );
$red-7: darken( $red, 10% );
$red-8: darken( $red, 20% );
$red-9: darken( $red, 30% );
$red-10: darken( $red, 40% );

$orange-1: lighten( $orange, 40% );
$orange-2: lighten( $orange, 35% );
$orange-3: lighten( $orange, 25% );
$orange-4: lighten( $orange, 15% );
$orange-5: lighten( $orange, 5% );
$orange-6: darken( $orange, 0% );
$orange-7: darken( $orange, 10% );
$orange-8: darken( $orange, 20% );
$orange-9: darken( $orange, 30% );
$orange-10: darken( $orange, 40% );

$yellow-1: lighten( $yellow, 40% );
$yellow-2: lighten( $yellow, 35% );
$yellow-3: lighten( $yellow, 25% );
$yellow-4: lighten( $yellow, 15% );
$yellow-5: lighten( $yellow, 5% );
$yellow-6: darken( $yellow, 0% );
$yellow-7: darken( $yellow, 10% );
$yellow-8: darken( $yellow, 20% );
$yellow-9: darken( $yellow, 30% );
$yellow-10: darken( $yellow, 40% );

$volcano-1: lighten( $volcano, 40% );
$volcano-2: lighten( $volcano, 35% );
$volcano-3: lighten( $volcano, 25% );
$volcano-4: lighten( $volcano, 15% );
$volcano-5: lighten( $volcano, 5% );
$volcano-6: darken( $volcano, 0% );
$volcano-7: darken( $volcano, 10% );
$volcano-8: darken( $volcano, 20% );
$volcano-9: darken( $volcano, 30% );
$volcano-10: darken( $volcano, 40% );

$geekblue-1: lighten( $geekblue, 40% );
$geekblue-2: lighten( $geekblue, 35% );
$geekblue-3: lighten( $geekblue, 25% );
$geekblue-4: lighten( $geekblue, 15% );
$geekblue-5: lighten( $geekblue, 5% );
$geekblue-6: darken( $geekblue, 0% );
$geekblue-7: darken( $geekblue, 10% );
$geekblue-8: darken( $geekblue, 20% );
$geekblue-9: darken( $geekblue, 30% );
$geekblue-10: darken( $geekblue, 40% );

$lime-1: lighten( $lime, 40% );
$lime-2: lighten( $lime, 35% );
$lime-3: lighten( $lime, 25% );
$lime-4: lighten( $lime, 15% );
$lime-5: lighten( $lime, 5% );
$lime-6: darken( $lime, 0% );
$lime-7: darken( $lime, 10% );
$lime-8: darken( $lime, 20% );
$lime-9: darken( $lime, 30% );
$lime-10: darken( $lime, 40% );

$gold-1: lighten( $gold, 40% );
$gold-2: lighten( $gold, 35% );
$gold-3: lighten( $gold, 25% );
$gold-4: lighten( $gold, 15% );
$gold-5: lighten( $gold, 5% );
$gold-6: darken( $gold, 0% );
$gold-7: darken( $gold, 10% );
$gold-8: darken( $gold, 20% );
$gold-9: darken( $gold, 30% );
$gold-10: darken( $gold, 40% );

$preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime, green, blue, geekblue,
  purple;

//gray scale

$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;