//Drawer button fixed on bottom 
.drawer-footer-fixed{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px;
    background: #fff;
    display: flex;
    z-index: 2;
  }
  //Drawer scroling issue fixed
  .ant-drawer-body{
    margin-bottom: 72px;
  }

  

  
.sticky-drawer-header{
    position: sticky;
    top: 0;
    z-index: $zindex-affix;
    background-color: #fff;
    padding: 0.1rem 0rem; 
  }

  
  
//Showing drawer fotter amount
.ft-price-section{
    border-right: 1px solid $gray-400;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
    .ft-price-amount{
      font-weight: $font-weight-bold;
     
    }
    .ft-price-amount-main{
      font-size: 1rem;
    }
  }
  
  .drawer-footer-fixed{
    background-color: $gray-100;
  }

  //update bg color
  .ant-drawer-header{
    background:  $primary-9;
    border-radius: 0px;
    .ant-drawer-title{
        color: #fff;

    }
    .ant-drawer-close{
       padding: 16px;
        color: #fff;
    }
  }