
//used for layout table
%layout__table{
    display: table;
    width: 100%;
    border-spacing: 0 5px;
    border-collapse: separate;
}

%layout__table--row{
    display: table-row;
    clear: both;
    transition: all 0.2s ease;
}

%layout__table--col{
    display: table-cell;
    padding: 0.5rem;
    
}
%layout__table--header{
    font-weight: $font-weight-bold;
    color: $text-muted;
}

%layout__table--row-rounded{
    &:first-child {
        border-radius: 5px 0 0 5px;
    }

    &:last-child {
        border-radius: 0 5px 5px 0;
    }
}

//reset list

%list-style-reset{
    list-style: none;
    margin: 0;
    padding: 0;
}


$layout-side-width: 340px;

%layout__content {
    display: flex;
    flex-direction: row;
    flex: auto;
    min-height: 0;
}

%layout__side {
    flex: 0 0 $layout-side-width;
    max-width: $layout-side-width;
    min-width: $layout-side-width;
    width: $layout-side-width;
    border-right: 1px solid $gray-200;
    padding: 1rem;
    height: calc(100vh - 48px);
    overflow-y: auto;
}
// end