
// //ant design form validation text size and line height changed

// .ant-form-item-explain,
// .ant-form-item-extra {
//     font-size: 0.78rem;
// }

// .ant-form-item-label {
//     line-height: 1.29;

// }

// //used for payment agreement form arangment
// .boxform-horizontal {
//     .ant-form-item-label {
//         line-height: 39.9999px;

//     }
// }

// //removed and design colon
// .ant-form-item-label>label {
//     &::after {
//         content: '';
//     }
// }

// .form-title-space{
// 	margin-top: 1rem;
// }

// .required {
//     color: $error-color;
// }

// //used for with out ant label class
// .ant-form-item-required:not(.ant-form-item-required-mark-optional){
//     &::before{
//         display: inline-block;
//         margin-right: 4px;
//         color: $error-color;
//         font-size: $font-size-base;
//         font-family: $font-family;
//         line-height: 1;
//         content: '*';
//     }
// }