.box-icon{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.286em; //-0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-self: center;

    svg {
        display: inline-block;
        height:1.3em;
        width:1.3em;
        fill: currentColor;
        //top: .125em;
        // position: relative;
    }
    * {
        line-height: 1;
    }
  }

  .table-icon-size{
    font-size: $table-icon-size;
  }