//layout table applies for using div

.layout-table {
    @extend %layout__table;

    &-row {
        @extend %layout__table--row;

        &.seperate {
            .layout-table-col {
                border-bottom: 1px solid $gray-500;
                padding-bottom: 0.8rem;
            }

        }
    }

    &-col {
        @extend %layout__table--col;

    }

    &-header {
        @extend %layout__table--header;
    }
}
