.ant-tag {
    font-size: $tag-font-size;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 3px 7px;

    &.square-tag {
        min-width: 20px;
        border-radius: 0;
    }

    &.rounded-tag {
        border-radius: 32px;
    }
}

//Status Tag classes
@each $status,
$color in $statuses-colors {
    .tag-status-#{$status} {
        color: set-color($color);
        background-color: $color;
        border-color: $color;
    }
}

