.value-widget {

    border-radius: $border-radius-base*4;
    padding: 0.5rem 1rem;

    &-color-1 {
        background-color: #E4DC8D;
    }

    &-color-2 {
        background-color: #EBE8D0;
    }

    .value-text {
        font-weight: $font-weight-bold;
        font-size: 1.3rem;
        line-height: 1.0;
    }
}