@import 'style/includes';


.reg-installment {
    @extend %layout__table;
    &-col {
        @extend %layout__table--col;
        background-color: $gray-200;
        @extend %layout__table--row-rounded;
        &:first-child {
           width: 20px;
        }
    }
    

    &-row{
        @extend %layout__table--row;
        
        
    }

    &-header {
        @extend %layout__table--header;
        .reg-installment-col {
            background-color: transparent;
        }
       
    }
   
}

.reg-ins-content{
    border-left: 1px solid $gray-200;
    
}