@import 'style/includes';

.regh-layout {
    @extend %layout__content;
    $layout-side-width :280px;
    .regh-side {
        @extend %layout__side;
        flex: 0 0 $layout-side-width;
        max-width: $layout-side-width;
        min-width: $layout-side-width;
        padding: 1rem 1rem;
        background-color: $gray-100;
    }

}
