@import 'style/includes';

.ant-layout {
    background: transparent;
}
.aims-header {
    display: flex;
    min-height: 0;
    height: $layout-header-height;
    padding: $layout-header-padding;
    line-height: $layout-header-height;
    background: $layout-header-background;
    justify-content: stretch;
    position: fixed;
    width: 100%;
    z-index: 999;

    &,
    * {
        box-sizing: border-box;
    }


}

.ant-layout-sider{
    flex: 0 0 50px !important;
max-width: 50px !important;
min-width: 50px !important;
width: 50px !important;
}

.ant-menu-inline-collapsed{
    width: 50px;
}